.btn-box {
    display: flex;
    align-items: center;
    color: white;
    background-color: #37CC8A;
    width: 450px;
    height: 40px;
    border: none;
    justify-content: center;
    font-weight: 900;
    font-size: 14px;
}

.btn-box:hover {
    transition: background-color .3s ease;
    color: #37CC8A;
    background-color: white;
}
