.container.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
    padding: 15px;
    
}

.input-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-box input {
    width: 340px;
    padding: 10px;
    border: none;
    outline: none;
}

.input-box input:focus{
    border: 2px solid yellow;
}